@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
}
.indexBody{
  background-image: url('79_dots_brown.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar {
	background-color: none;
	overflow: hidden;

}

.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-size: 20px;
}

.navbar a:hover {
	background-color: #F13BF6;
	color: none;
	transition: 0.5s;
	filter: opacity(80%)
}

.navbar a.active {
	background-color: none;
	color: white;
}

.push{
	margin: 0 60% 0 15px;
}

.baking{
	text-align: center;
	margin: 30vh 60vh 0 60vh;
	border: solid 4px white;
	font-size: 35px;
	font-family: Georgia, serif;
}
a{
	display: block;
	text-decoration: none;
	color: none;
	font-weight: 600;
}
.menu{
	margin-left: 60vh;
	font-size: 20px;
	padding-top: 15px;
}

.container {
	background-image: url('bcc.jpg');
	height: 280px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
  	text-align: center;
  	color: white;
}
.container2{
	background-image: url('bc.jpg');
	height: 280px;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
  	text-align: center;
  	color: white;
}
.center{
	position: absolute;
 	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
	border: solid 6px white;
	padding: 30px;
	color: black;
	font-family: Georgia, serif;
}

.pad{
	padding: 7px


}
article{
	margin: 0 10%;
	font-family: "Courier New", Courier, monospace;
	font-weight: 500;
}
.img{
	float: right;
}

@media only screen and (max-width: 1000px) {
	.baking{
		margin: 30vh 20vh 0 20vh;
	}
}


@media only screen and (max-width: 1000px) {
	.menu{
		margin-left: 20vh;
	}
}
